  .auth-button {
    font-size: 1.2em;
    /* Larger font size for larger button text */
    padding: 10px 20px;
    /* Larger padding for a larger button */
    border-radius: 1rem;
    margin: 10px 0px;
    /* Space out buttons */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    /* Add more styling as needed (e.g., border, background-color) */
    background-color: white;
  }

  .auth-button:hover {
    opacity: 80%;
    background-color: white;
  }