.email-table {
    max-width: 600px;
    margin: 0 auto;
}

.form-control {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid darkgray;
}

.table th
.table td {
    padding: 8px;
}