.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  padding: 20px;
  /* Add padding as necessary */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Optional: adds a shadow for depth */
  border-radius: 20px;
  border: 1px solid black;
}



/* You might want to add media queries to ensure responsiveness on smaller screens */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    /* Stack the elements vertically on small screens */
  }

  .text-box,
  .image-box {
    margin: 0;
    /* Adjust margins for smaller screens */
    padding: 10px;
    /* Adjust padding for smaller screens */
    flex: none;
    /* Do not grow, use auto-sizing */
  }
}