.sidebar {
    background-color: rgb(0, 162, 255); /* Sidebar background color */
    width: 200px; /* Sidebar width */
    height: 100%; /* Full height */
    position: fixed; /* Fixed position */
    top: 0; /* Top position */
    left: 0; /* Left position */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    border-right: 1px solid black;
  }
  
  .sidebar .nav-link {
    color: #333; /* Link text color */
    padding: 20px; /* Padding */
    padding-left: 20px;
    text-decoration: none; /* Remove underline */
    border-bottom: 1px solid black; 
  }
  
  .sidebar .nav-link:hover {
    background-color: #e9ecef; /* Hover background color */
  }
  
  .sidebar .nav-link.active {
    background-color: white; /* Active link background color */
  }
  